<header style="background-color: #4CAF50; padding: 10px; text-align: center;">
    <h1 style="color: white; font-size: 36px;">The Platform</h1>
    <nav>
        <a href="/" style="color: white; margin: 0 15px; line-height: 40px;">Home</a>
        <a href="/fileManage" style="color: white; margin: 0 15px; line-height: 40px;">file Manage</a>
        <a href="/chat" style="color: white; margin: 0 15px; line-height: 40px;">Chat Room</a>
        <a href="{{ url_for('login.logout') }}" style="color: white; margin: 0 15px; line-height: 40px;">Logout</a>
    </nav>
</header>
